<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" ng-controller="MyCtrl1">
  <div class="container">

    <div class="navbar-header">
       

      <button  ng-click="go('/view1')"  type="button" class="btn btn-default navbar-btn btn-primary">
       Home
     </button>
     



     
    <button type="button" ng-click="go('/view2')" class="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!--/.nav-collapse -->
</div>
</div>
