<div ng-include="'partials/header.html'"></div>


    <div class="container theme-showcase">
     
      



      
      <div class="row-fluid">
         
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Sample request</h3>
            </div>
            <div class="panel-body">{{data}}
           
         
            </div>
          </div>
        
        
      </div>



      


    </div> <!-- /container -->
  
